*{
  margin: 0;
}
@font-face {
  font-family: 'minisystem';
  src: local('minisystem'), url(./fonts/minisystem.otf) format('otf');
}
@font-face {
  font-family: 'minisystem';
  src: local('minisystem'), url(./fonts/minisystem.otf) format('otf');
}
body {
  font-family: 'minisystem';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
